html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $font-family-sans-serif;
    background-color: $cv-bg;
    color: $cv-font-color;
    text-align: justify;
}

.uni-logo {
    display: block;
    margin-bottom: 20px;
    width: $cien;
    height: auto;
}


.navbar {
    .navbar__boton {
        font-size: xx-large;
    }
    
    h1 {
        text-align: left;
    }

     .navbar__opciones {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: $navbar-width;
        background-color: #000000;
        position: fixed;
        height: $cien;
        overflow: auto;
        top: 0px;
        li {
            margin-left: 20%;
            margin-top: 20%;
            a {
                text-decoration: none;
                color: $cv-corporate !important;
            }
        }
        color: $cv-corporate !important;

        @media (max-width: 800px) {
            width: multiplicar($navbar-width, 3);
        }
    }

    .opentransition {
        opacity: 1;
        animation-name: openAnimation;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-duration: 0.2s;
    }
    
    @keyframes openAnimation {
        0% {
            width: 0;
        }
        50% {
            width: $navbar-width/2;
        }
        100% {
            width: $navbar-width;
        }
    }
    //Cambia para pantallas movil
    @media (max-width: 800px) {
        @keyframes openAnimation {
            0% {
                width: 0 * 3;
            }
            50% {
                width: multiplicar($navbar-width/2, 3);
            }
            100% {
                width: multiplicar($navbar-width, 3);
            }
        } 
    }

}

.informacion {
    margin-left: $navbar-width + 2%;
    width: 65%;

    ul {
        list-style-type: none;
    }

    h2 {
        color: $cv-corporate !important;
    }

    .informacion__contenido {
        display: flex;
        flex-direction: row;
        text-align: center;
      }

      .contenido {
        padding: 10px;
        flex: 50%;
        border: #000000 1px solid;
        margin: 1%;
      }

      @media (max-width: 800px) {
        .informacion__contenido {
          flex-direction: column;
        }
    }
}

.hide {
    display: none;
}

.navbar__opciones--show {
    display: block;
    list-style-type: none;
    position: fixed;
}

.sobremi {

    .sobremi__informacion{
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .info{
        padding: 10px;
        flex: 33%;
        margin: 1%;
    }

    //Cambia para pantallas movil
    @media (max-width: 800px) { 
        .info {
          flex-direction: column;
        }
    }

    .icon {
        font-size: xx-large;
        color:$cv-corporate
    }
}